  <div class="">
    <h1>Bienvenidos a Wed-e</h1>

    <h2>
      Tu Organizador personal para tu día especial
    </h2>
    <%= link_to "Login!", '#', class: "btn" %>
    <%= link_to "Registrarse!", '#', class: "btn" %>
    <%= link_to "Eres proveedor", '#', class: "btn" %>
  </div>

  <%= link_to image_tag("logo_wed-e.png", alt: "Wed-e"), '#' %>
