<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="small-4 columns">
          <a href="#" class="button success radius" >Eres proveedor ?</a>
      </div>
      <div class="small-4 columns">            
          <div id="logo" class = "logoabajo"></div>
      </div>

      <div class="small-4 columns">     
          <ul class="inline-list right">
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Terminos de Uso</a></li>                        
          </ul>
      </div>
      </div>
  </div>
</footer>