<header>
  <div class="row">
     <div class="small-2 columns" style="height: 60px;">
        <h1 style="position: fixed; width: 150px;">
          <img src="assets/logo_wed-e.png"></h1>
      </div>
    <div class="small-2 push-1 columns login-top">
      <a href="#login" style="position : fixed">
      <img class="logo" src="assets/login.png"/>
    </a>
  </div> 
</div>
</header>

  <!--div class="row">
    <div class="large-3 columns">
        <h1><img src="assets/logo_wed-e.png"></h1>
      </div>
      <div class="large-9 columns">
        <ul class="right button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
        </ul>
    </div>
  </div-->